# Terraform local working directories
**/.terraform/

# Terraform state and plans
*.tfstate
*.tfstate.*
*.tfplan
*.plan

# Terraform-generated dependency lock backup files
.terraform.tfstate.lock.info

# Terraform crash logs
crash.log
crash.*.log

# Terraform override files are for local experiments only
override.tf
override.tf.json
*_override.tf
*_override.tf.json
